doctype transitional
html
    head
        title Passport Authentication Tutorial
        block links
            link(rel='stylesheet', href='/style.css')
    body
        div.container
            block content
        script(src='http://code.jquery.com/jquery-1.11.1.min.js')
        block scripts
